/*File contains CSS styling for all the basic UI Pages, or home page + first 4 slides of Heart and first three of Respiratory Rate
Google Slides that contain images of the pages that are styled with this page: 
https://docs.google.com/presentation/d/1-_FpFF140Xc9qONxjbvTLqgxU9JljpNpbkdHH8wjYn0/edit?usp=sharing
*/


/*Heart Rate CSS Only*/

/*CSS for the Home Page:*/
#telehealth{
    position: absolute;
    position: absolute;
    width: 900px;
    height: 90px;
    left: 60px;
    top: 62px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 40px;   
    text-align: center;
    color: #000000;
    }
    
    #summaryText{
    position: absolute;
    width: 850px;
    height: 250px;
    left: 74px;
    right: 115px;
    top: 200px; 
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    /* or 130% */
    text-align: center;
    color: #000000;
    }
    
    #box1{
    box-sizing: border-box;
    position: absolute;
    width: 850px;
    height: 430px;
    left: 70px;
    top: 500px;
    background: #FFFFFF;
    border: 3px solid #3771E0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    }
    
    #box2{
    box-sizing: border-box;
    position: absolute;
    width: 850px;
    height: 430px;
    left: 70px;
    top: 1050px;
    background: #FFFFFF;
    border: 3px solid #3771E0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    }


#top{
    position: absolute;
    margin-left: 40px;
    margin-top:50px; 
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 26px;
    color: #000000;
    }
    
    #middle{
    position: absolute;
    top: 140px;
    left: 40px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;  
    color: #000000;
    }
    
    #button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    gap: 6px;
    position: absolute;
    width: 365px;
    height: 80px;
    left: 430px;
    top: 280px;    
    background: #074EE8;
    border-radius: 10px;
    border-style: solid;
    border-color:#074EE8;
    color:white;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 18px;
    }
    
.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}


/* The CSS for all basic UI pages for Heart Rate
(all but measurement page) */

#arrow{
    height: 14px;
    width: 28px;
    margin-top: 20px;
    margin-left: 10px;
}


a:link, a:visited {
    background-color: #ffffff;
    color: white;
    width: 28px;
    height: 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
  }
  

#boxPg1{
    box-sizing: border-box;
    position: absolute;
    width: 900px;
    height: 330px;
    left: 40px;
    top: 110px;
    background: #FFFFFF;
    border: 3px solid #3771E0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
#boxPg2{
    box-sizing: border-box;
    position: absolute;
    width: 900px;
    height: 330px;
    left: 50px;
    top: 110px;
    background: #FFFFFF;
    border: 3px solid #3771E0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
#boxPg3{
    box-sizing: border-box;
    position: absolute;
    width: 950px;
    height: 330px;
    left: 60px;
    top: 110px;
    background: #FFFFFF;
    border: 3px solid #3771E0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

#boxPgGif{
    box-sizing: border-box;
    position: absolute;
    width: 950px;
    height: 350px;
    left: 70px;
    top: 110px;
    background: #FFFFFF;
    border: 3px solid #3771E0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
#boxText1{
    position: absolute;
    height: 90px;
    left: 37px;
    right: 37px;
    top: 50px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 65px;
    text-align: center;
    color: #000000;
}
#boxText2{
    position: absolute;
    height: 90px;
    left: 37px;
    right: 37px;
    top: 50px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 65px;
    text-align: center;
    color: #000000;
}
#boxText3{
    position: absolute;
    height: 90px;
    left: 37px;
    right: 37px;
    top: 35px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 65px;
    text-align: center;
    color: #000000; 
}

#boxTextGif{
    position: absolute;
    height: 90px;
    left: 37px;
    right: 37px;
    top: 50px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 75px;
    text-align: center;
    color: #000000;
}
#hrpg1Image{
    position: absolute;
    left: 50px;
    top: 400px;
}
#hrpg2Image{
    position: absolute;
    right: 0px;
    left: 0px;
    top: 500px;
}


#buttonNext{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    gap: 6px;
    position: absolute;
    width: 230px;
    height: 110px;
    left: 650px;
    top: 1550px;   
    background: #074EE8;
    border-radius: 10px;
    border-style: solid;
    border-color:#074EE8;
    color:white;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 18px;
}

#buttonMeasurements{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    gap: 6px;
    position: absolute;
    width: 500px;
    height: 100px;
    left: 440px;
    top: 1770px;   
    background: #074EE8;
    border-radius: 10px;
    border-style: solid;
    border-color:#074EE8;
    color:white;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 18px;
}

#buttonCancel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    gap: 6px;
    margin-top: 1550px;
    margin-left: 25px;
    position: absolute;
    width: 230px;
    height: 110px;
    background: #ffffff;
    border-radius: 10px;
    border-style: solid;
    border-color:#ffffff;
    color:#3771E0;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 18px;
}

#gif{
    position: absolute;
    left: 0px;
    top: 500px;
    width: 1080px;
    height: 1080px;
}


/*Style for hrResults page */
#x{
    top: 10px;
    left: 70px;
}

#xText{
    top: 17px;
    left: 55px;
    position: absolute;
    width: 450px;
    height: 26px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}

#boxResults{
    box-sizing: border-box;
    position: absolute;
    width: 362px;
    height: 270px;
    left: 15px;
    top: 80px;
    background: #FFFFFF;
    border: 3px solid #3771E0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#resultsTopText{
    position: absolute;
    width: 250px;
    height: 26px;
    left: 50px;
    top: 30px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}

#resultsMiddleText{
    position: absolute;
    width: 250px;
    height: 30px;
    left: 40px;
    top: 60px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 20;
    font-size: 35px;
    line-height: 26px;
    text-align: center;
    color: #074EE8;
}

#resultsBottomText{
    position: absolute;
    width: 400px;
    height: 26px;
    left: -27px;
    top: 190px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 31px;    
    text-align: center;
    color: #000000;
}

#resultsInfoText{
    position: absolute;
    width: 1000px;
    height: 100px;
    left: 20px;
    top: 375px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}


#buttonNextPg2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    gap: 6px;
    position: absolute;
    width: 230px;
    height: 110px;
    left: 650px;
    top: 1580px;   
    background: #074EE8;
    border-radius: 10px;
    border-style: solid;
    border-color:#074EE8;
    color:white;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 18px;
}

#buttonCancelPg2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    gap: 6px;
    margin-top: 1580px;
    margin-left: 25px;
    position: absolute;
    width: 230px;
    height: 110px;
    background: #ffffff;
    border-radius: 10px;
    border-style: solid;
    border-color:#ffffff;
    color:#3771E0;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 18px;
}
#buttonNextPg3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    gap: 6px;
    position: absolute;
    width: 250px;
    height: 120px;
    left: 700px;
    top: 1710px;   
    background: #074EE8;
    border-radius: 10px;
    border-style: solid;
    border-color:#074EE8;
    color:white;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 18px;
}

#buttonCancelPg3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    gap: 6px;
    margin-top: 1700px;
    margin-left: 125px;
    position: absolute;
    width: 150px;
    height: 120px;
    background: #ffffff;
    border-radius: 10px;
    border-style: solid;
    border-color:#ffffff;
    color:#3771E0;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 18px;
}

#buttonCancelPg4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    gap: 6px;
    margin-top: 1770px;
    margin-left: 25px;
    position: absolute;
    width: 230px;
    height: 110px;
    background: #ffffff;
    border-radius: 10px;
    border-style: solid;
    border-color:#ffffff;
    color:#3771E0;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 18px;
}