html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.panel {
  padding: 20px;
}

#header {
  background-color: #007CC7;
}

#content {
  flex-grow: 1;
  background-color: #4DA8DA;
}

#footer {
  background-color: #007CC7;
}
