#marginAdder{
  margin-left: 0%;
  margin-right: 0%;
}*/


#mainTitle {
  color: #000000;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10vw;
  text-align: center;

}

#titleBox{
  font-size: 10vw;
  color:rgb(24, 76, 0);
  margin-top: 3%;
  margin-bottom: 5%;
}
#measuringBox{
  font-size: 10vw;
  color:rgb(24, 76, 0);
  margin-top: 5%;
  margin-left: 20%;
  width: 300px;
  border: 15px solid blue;
  padding: 50px;
  margin:20px;
 +/* height: 50px;
  width: 150px;
  border: 15px solid black;*/
}

.flex-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

/*
.panel {
  padding: 20px;
}*/

#header {
  background-color: #007CC7;
  margin-top: 1000px;
}

#content {
  flex-grow: 1;
  background-color: #4DA8DA;
}

#footer {
  background-color: #007CC7;
}

